%h1.page-title= title "Users"

%p
  %small.text-muted= page_entries_info @users


%table.table
  %tr
    %th Name
  - @users.each do |user|
    %tr
      %td= link_to user.name, user

= paginate @users