@brand-primary:           #e5793a;
@brand-secondary:         #be3427;
@border-radius-base: 2px;
@border-radius-small: 2px;
@border-radius-large: 4px;

@gold-bg:                 #edbf2b;
@gold-dark-bg:            #b2911f;

@input-bg:                #f5f6f7;
@input-border:            #b8babd;
@input-color:             #58585a;
@input-color-placeholder: #c8cacc;
@input-bg-disabled:       darken( @input-bg, 10% );

@text-color:              #58585a;

@chrome-border:           #e8e8e8;
@link-color:              #28b8d0;
@link-color-alt:          @brand-secondary;

@gray:                    #58585a;
@gray-dark:               #4b4b4d;

@footer-bg:               @gray;
@footer-color:            #FFF;
@footer-header-color:     #c1b6af;

@copyright-bg:            @gray-dark;
@copyright-color:         #928b87;

@btn-primary-bg:          @brand-primary;

@brand-info:              #8fbcc8;
@brand-info-color:        #FFF;

// @brand-info:              #1f8c9f;
@state-info-bg:           #D7F6FF;
@state-info-text:         #1f8c9f;

@state-warning-bg:        #FDEDDF;
@state-warning-text:      #C04C41;

@state-danger-bg:         #F9CFCC;

@text-muted:              #a9aba0;
@headings-color:          @text-color;
// @headings-title-color:    @headings-color;
@headings-title-color:    @text-color;


// @ad-link-color:           #0000FF;
// @ad-meta-link-color:      #008000;

@ad-link-color:           @link-color;
@ad-meta-link-color:      @brand-primary;

@knockout-bg:             #f1f4e8;

@offer-bg:                #58585a;
@offer-bg:                @brand-success;
@offer-text:              @brand-info-color;