.refiddle
{
  position: relative;
  margin-bottom: @line-height-computed;

  border-bottom: solid 1px @chrome-border;
  padding-bottom: @line-height-computed;
  

  .refiddle-stats
  {
    float: right;

    .stat
    {
      float: left;
      padding: @padding-base-vertical @padding-base-horizontal;
      background: @input-group-addon-bg;
      color: @text-color;
      border-radius: @border-radius-large;
      text-align: center;
      margin-left: @padding-base-horizontal;

      .data-value
      {
        font-size: @font-size-h3;
        margin: 0;
      }

      .data-label
      {
        font-weight: inherit;
        font-size: @font-size-small;
        margin: 0;
      }
    }
  }

  .refiddle-tags
  {
    margin: @padding-base-vertical 0;

    li
    {
      padding: 0 2px;
      &:first-child
      {
        padding-left: 0;
      }
    }
  }

  .refiddle-regex
  {
    font-size: @font-size-h4;
    font-family: @font-family-monospace;
  }

  .refiddle-title
  {
    margin: 0;
  }

  .refiddle-corpus
  {
    margin: @padding-base-horizontal 0;
  }
}

.alert
{
  border-left: 0;
}

.tag-cloud
{
  display: block;
  list-style: none;
  margin: 0 -3px;
  padding: 0;

  li
  {
    margin: 0 3px;
    display: inline-block;
  }
}

.diff
{
  > span
  {
    white-space: pre;
  }
}

.diff-removed
{
  background: @state-danger-bg;
  color: @state-danger-text;
  text-decoration: line-through;
}

.diff-added
{
  background: @state-success-bg;
  color: @state-success-text; 
}

.match, .match-fail
{
  background: @state-success-bg;
  color: @state-success-text;
  padding: 3px 0;
  margin: -3px 0;
}

.match + .match:nth-child(even)
{
  background: lighten( @state-success-bg, 5% );
}

.match-fail
{
  background: @state-danger-bg;
  color: @state-danger-text;
}

.match-fail + .match-fail:nth-child(even)
{
  background: lighten( @state-danger-bg, 5% );
}


.btn-stackoverflow
{
  .button-variant( #FFF; #FE7924; #FE7924 );
}

#main-asside .panel-group
{
  margin: 0 -@grid-gutter-width / 2;

  .panel
  {
    border: 0;
    border-bottom: solid 1px @panel-default-border;
    .box-shadow( none );
    background: transparent;

    pre
    {
      background: @body-bg;
    }
  }

  .panel-heading
  {
    background: inherit;
  }
}

.stackoverflow-question
{
  max-width: 100%;
  overflow: auto;
}

.help-block
{
  a
  {
    color: inherit;
    text-decoration: underline;
  }
}