%h3.block-tight-top StackOverflow is a Q&amp;A site that's free

%p Stack Overflow is collaboratively built and maintained by your fellow programmers and is a great place to find answers to trick regular expression problems

%h4 To Ask a Question on SO

%p First, #{ link_to "search", "http://www.google.com/#q=regular+expression+site%3Astackoverflow.com", target: "_blank" } to see if other developers have had similar problems and if the answers might apply to your question.

%p 
  Then, #{ link_to "create a refiddle", root_path }, save it and 
  #{ link_to "ask your question", "http://stackoverflow.com/questions/ask", target: "_blank" }. 
  By sharing your fiddle, stackoverflow.com members can experiment with your fiddle to help you find the right pattern for your needs.

