= link_to root_path, id: "brand" do
  Refiddle

.btn-group
  = link_to "New", root_path, class: "btn btn-default navbar-btn"
  = link_to "Browse", tagged_index_path, class: "btn btn-default navbar-btn"
  = link_to "Search", search_index_path, class: "btn btn-default navbar-btn"