= link_to root_path, id: "brand" do
  Refiddle

.btn-group.btn-table
  = link_to "New", root_path, class: "btn btn-default"
  = link_to "Browse", tagged_index_path, class: "btn btn-default"
  = link_to "Search", search_index_path, class: "btn btn-default"

.asside-ad
  <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=refiddle-20&o=1&p=21&l=ur1&category=primeent&banner=1F6S3DE1FKJNVA2NM0G2&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>